# Backend
Flask==3.0.3
python-dotenv==1.0.1
Werkzeug==3.0.3

# Base de datos PostgreSQL (Supabase)
psycopg2-binary==2.9.9

# Vision por computador y reconocimiento facial
numpy==1.26.4
Pillow==10.3.0
opencv-python==4.10.0.84
face_recognition==1.3.0
dlib==19.24.4

# Deteccion de armas (sprint 3)
ultralytics==8.2.0

# Pruebas
pytest==8.2.0
